{
  "extends": "@parcel/config-default",
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "transformers": {
    "*.{ts,tsx}": [
      "@parcel/transformer-typescript-tsc"
    ]
  }
}